body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/images/blue.jpg');
  background-size: cover;
}

/*Creando estilo para la barra de navegación*/
nav {
  text-align: center;
  background-color: #6AD2F3;
  width: 100%;
  height: 10%;
  position: fixed;
}

h1 {
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  margin-top: 10px;
}

/*Creando estilo para el contenedor principal*/
.container {
  padding-top: 5%;
  width: 100%;
}

/*Primera sección*/
.cuadro-1 {
  background: #FFF;
  width: 500px;
  height: 280px;
  margin-top: 15px;
  margin-left: 100px;
  display: inline-block;
}

.cuadro-1 > p {
  font-family: 'Roboto Slab', serif;
  margin: 30px;
}

.cuadro-1 > .blue {
  color: #2A8EFF;
  font-weight: bold;
}

/*Segunda sección*/
.cuadro-2 {
  background: #FFF;
  width: 600px;
  height: 280px;
  margin-top: 15px;
  margin-right: 100px;
  float: right;
}

.cuadro-2 > form > textarea {
  margin: 20px;
  width: 92%;
  min-height: 110px;
  /*max-height: auto;*/
  font-family: 'Roboto Mono', monospace;
}

#box-tweet > hr {
  display: flex;
  width: 80%;
  height: 1px;
  background: #7DA2B3;
  margin-top: 0;
}

.cuadro-2 > form > input {
  text-align: center;
  margin: 20px;
  width: 120px;
  height: 40px;
  border: 0;
  background: #6CD2F5;
  color: #FFF;
  font-family: 'Roboto Mono', monospace;
}

/*Tercera sección*/
cuadro-3 {
  margin-top:105px;
}

.cuadro-3 > p {
  background: #FFF;
  width: 80%;
  height: 80px;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
}

.purple { /*clase que se agrega si el número de caracteres es mayor a 120*/
  color: #3250DE;
}

.orange { /*clase que se agrega si el número de caracteres es mayor a 130*/
  color:#FF911D;
}

.red { /*clase que se agrega si el número de caracteres es mayor a 135*/
  color: red;
}

#meter {
  float: right;
  margin: 30px 20px ;
  padding: 10px;
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
}
