body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/images/blue.jpg');
  background-size: cover;
}

/*Creando estilo para la barra de navegaci贸n*/
nav {
  text-align: center;
  background-color: #6AD2F3;
  width: 100%;
  height: 10%;
  position: fixed;
}

h1 {
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  margin-top: 10px;
}

/*Creando estilo para el contenedor principal*/
.container {
  padding-top: 5%;
  width: 100%;
}

/*Primera secci贸n*/
.cuadro-1 {
  background: #FFF;
  width: 500px;
  height: 280px;
  margin-top: 15px;
  margin-left: 100px;
  display: inline-block;
}

.cuadro-1 > p {
  font-family: 'Roboto Slab', serif;
  margin: 30px;
}

.cuadro-1 > .blue {
  color: #2A8EFF;
  font-weight: bold;
}

/*Segunda secci贸n*/
.cuadro-2 {
  background: #FFF;
  width: 600px;
  height: 280px;
  margin-top: 15px;
  margin-right: 100px;
  float: right;
}

.cuadro-2 > textarea {
  margin: 20px;
  width: 92%;
  font-family: 'Roboto Mono', monospace;
}

.cuadro-2 > hr {
  width: 93%;
  height: 1px;
  background: #7DA2B3;
  margin-top: 0;
}

.cuadro-2 > button {
  text-align: center;
  margin: 20px;
  width: 120px;
  height: 40px;
  border: 0;
  background: #6CD2F5;
  color: #FFF;
  font-family: 'Roboto Mono', monospace;
}

/*Tercera secci贸n*/
.cuadro-3 {
  background: #FFF;
  width: 85%;
  height: 80px;
  display: block;
  margin: 105px;
}

.cuadro-3 > p {
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
}
